body{
    background-color: #f5f5f5;
}
.workexperiences{
    margin-bottom: 2em;
    .container{
        background-color: #ffffff;
        .row{
            .col{
                text-align: center;
            }
        }
    }
}