extends ../layouts/layout.pug
block forme
    .scrollTop
    .forme.bgcl-forme
        .container
            .row
                .col
                    img(src="../asset/forme.png", alt="")
                    .content-forme
                    h1.name Trần Lê Anh Duy
                    h3.title Front-End Developer
                    p.profile Profile info goes here

block contactme
    .contactme.bgcl-contactme
        .container
            .row
                .col.col-sm-12.col-md-12.col-lg-4.col-xl-4
                    .email
                        a(href="mailto:duytran1322@gmail.com") duytran1322@gmail.com
                .col.col-sm-12.col-md-12.col-lg-4.col-xl-4
                    .call
                        a(href="tel: 0975370014") 0975 370 014
                .col.col-sm-12.col-md-12.col-lg-4.col-xl-4
                    .website
                        a(href="https://www.facebook.com/tranleanhduyyy" target="_blank") My Website
block main-menu
    .main-menu.bgcl-mainmenu
        .container
            .row
                .col
                    ul.menu
                        li
                            a.experiences-menu(href="#") Experiences
                        li
                            a.education-menu(href="#") Education
                        li
                            a.skills-menu(href="#") Skills
                        li
                            a.portfolio-menu(href="#") Portfolio
                        li
                            a.contact-menu(href="#") Contact
block workexperiences
    .workexperiences
        .container
            .row
                .col
                    h2 Work Experiences
                    p I have no work experience
block education
    .education
        .container
            h2 Education
            .row
                .col.col-sm-12.col-md-12.col-lg-4.col-xl-6
                    p Electrical Engineering Technology
                    h4 HUTECH UNIVERSITY
                    p.date 06/2013 - 06/2018
                .col.col-sm-12.col-md-12.col-lg-4.col-xl-6
                    p Front-End Developer
                    h4 HOCVOICHUYENGIA EDUCATION
                    p.date 01/2019 - 05/2019
block skills
    .skills
        .container
            h2 Skills
            .row
                .col.col-sm-12.col-md-12.col-lg-4.col-xl-4
                    p HTML(PUG)
                    .processbar
                        .html
                .col.col-sm-12.col-md-12.col-lg-4.col-xl-4
                    p CSS (SASS/SCSS/BOOTSTRAP)
                    .processbar
                        .css
                .col.col-sm-12.col-md-12.col-lg-4.col-xl-4
                    p JAVASCRIPT(JQUERY)
                    .processbar
                        .js
block portfolio
    .portfolio
        .container
            h2 PortFolio
            .row
                .col.col-sm-12.col-md-6.col-lg-4.col-xl-3
                    a(href="#").card-portfolio
                        img(src="../asset/mo-hinh-nen-shooting-star-pinbar-candlestick.png", alt="")
                        h4.nameproject Lorem, ipsum dolor.
                        p.infoproject Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet, hic.
                        p.viewongit View On Github
                .col.col-sm-12.col-md-6.col-lg-4.col-xl-3
                    a(href="#").card-portfolio
                        img(src="../asset/mo-hinh-nen-shooting-star-pinbar-candlestick.png", alt="")
                        h4.nameproject Lorem, ipsum dolor.
                        p.infoproject Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet, hic.
                        p.viewongit View On Github
                .col.col-sm-12.col-md-6.col-lg-4.col-xl-3
                    a(href="#").card-portfolio
                        img(src="../asset/mo-hinh-nen-shooting-star-pinbar-candlestick.png", alt="")
                        h4.nameproject Lorem, ipsum dolor.
                        p.infoproject Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet, hic.
                        p.viewongit View On Github
                .col.col-sm-12.col-md-6.col-lg-4.col-xl-3
                    a(href="#").card-portfolio
                        img(src="../asset/mo-hinh-nen-shooting-star-pinbar-candlestick.png", alt="")
                        h4.nameproject Lorem, ipsum dolor.
                        p.infoproject Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet, hic.
                        p.viewongit View On Github
                .col.col-sm-12.col-md-6.col-lg-4.col-xl-3
                    a(href="#").card-portfolio
                        img(src="../asset/mo-hinh-nen-shooting-star-pinbar-candlestick.png", alt="")
                        h4.nameproject Lorem, ipsum dolor.
                        p.infoproject Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet, hic.
                        p.viewongit View On Github
                .col.col-sm-12.col-md-6.col-lg-4.col-xl-3
                    a(href="#").card-portfolio
                        img(src="../asset/mo-hinh-nen-shooting-star-pinbar-candlestick.png", alt="")
                        h4.nameproject Lorem, ipsum dolor.
                        p.infoproject Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet, hic.
                        p.viewongit View On Github
                .col.col-sm-12.col-md-6.col-lg-4.col-xl-3
                    a(href="#").card-portfolio
                        img(src="../asset/mo-hinh-nen-shooting-star-pinbar-candlestick.png", alt="")
                        h4.nameproject Lorem, ipsum dolor.
                        p.infoproject Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet, hic.
                        p.viewongit View On Github
                .col.col-sm-12.col-md-6.col-lg-4.col-xl-3
                    a(href="#").card-portfolio
                        img(src="../asset/mo-hinh-nen-shooting-star-pinbar-candlestick.png", alt="")
                        h4.nameproject Lorem, ipsum dolor.
                        p.infoproject Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet, hic.
                        p.viewongit View On Github
                
block getintouch
    .getintouch
        .container
            h2 Get In Touch
            .row
                .col
                    img(src="../asset/forme.png", alt="")
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam labore aperiam nemo esse hic quo earum, repellat perferendis veniam velit.
                .col
                    p.checked Preprocessor Pug - Sass/Scss
                    p.checked Create Layout
                    p.checked Responsive Layout
                    p.checked PSD to HTML/CSS
                    p.checked Animation CSS - Javascript - Jquery
                    p.checked Git
                .col
                    p 
                        |Call me at :
                        a(href="tel: 0975370014") 0975 370 014
                .col
                    p 
                        |Email :
                        a(href="mailto:duytran1322@gmail.com") duytran1322@gmail.com
                .col
                    a(href="https://www.facebook.com/tranleanhduyyy" target="_blank")
                        <i class="fab fa-facebook-f"></i>
                    a(href="https://www.instagram.com/anhhhduyyyy/" target="_blank")
                        <i class="fab fa-instagram"></i>
                    a(href="https://github.com/DuyTran1995" target="_blank")
                        <i class="fab fa-github"></i>


