nav.nav.bgcl-nav
    .row
        .col.col-sm-12.col-md-12.col-lg-6.col-xl-6
            a(href="https://www.facebook.com/tranleanhduyyy" target="_blank")
                <i class="fab fa-facebook-f"></i>
            a(href="https://www.instagram.com/anhhhduyyyy/" target="_blank")
                <i class="fab fa-instagram"></i>
            a(href="https://github.com/DuyTran1995" target="_blank")
                <i class="fab fa-github"></i>
        .col.col-sm-12.col-md-12.col-lg-6.col-xl-6
            a(href="mailto:tranleanhduy1995@gmail.com") my email
            a(href="https://drive.google.com/drive/folders/1GiWWltPwi7k4Tt6VjwDkV_L2n1KvwP1F" target="_blank") download my resume
                